const char* ssid = "ssid";
const char* password = "password";
const char* duckdns_subdomain = "myhoume"; //e.g. http://myhome.duckdns.org
const char* duckdns_token = "xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx";